.terms-tags li {
    display: inline-block;
    margin: 8px;
    font-weight: 500;
}

.terms-tags a {
    display: block;
    padding: 4px 8px;
    background: var(--tertiary);
    border-radius: 8px;
    transition: transform 0.1s;
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}
